<a href="https://colab.research.google.com/github/Sjleerodls/Data_Analysis/blob/main/lab_da/da01_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석 패키지

* NumPy : 다차원 배열을 쉽게 사용할 수 있는 패키지. 머신 러닝에서 중요하게 사용됨.
* pandas : 데이터프레임(DataFrame)과 시리즈(Series)를 기본으로 사용해서 데이터 분석에 필요한 기능들을 가지고 있는 패키지.
* matplotlib, seaborn : 데이터 시각화 패키지. 그래프.
* scikit-learn : 머신 러닝에서 사용하는 패키지.
* keras : 딥러닝에서 사용하는 패키지.

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import seaborn
import sklearn  # scikit-learn
import keras

In [4]:
print('numpy version =', np.__version__)
print('pandas version =', pd.__version__)
print('matplotlib version =', matplotlib.__version__)
print('seaborn version =', seaborn.__version__)
print('scikit-learn version =', sklearn.__version__)
print('keras version =', keras.__version__)

numpy version = 2.0.2
pandas version = 2.2.2
matplotlib version = 3.10.0
seaborn version = 0.13.2
scikit-learn version = 1.6.1
keras version = 3.8.0

# Python List

* 여러개의 값들을 저장할 수 있는 데이터 타입
* 인덱스를 기반으로 값들을 저장하는 데이터 타입
    * indexing : 인덱스를 사용해서 원하는 위치의 값을 참조. (예) number[0]
    * slicing : [start,end) 인덱스 범위의 부분 리스트를 만듦. (예) number[0:5]
* 산술 연산
    * `list + list` : 두 개의 리스트를 이어붙여서 하나의 리스트로 만듦. concatenate.
    * `list * int, int * list` : 리스트의 원소들을 정수만큼 복사해서 추가. replicate.

In [7]:
num_list1 = [1, 2, 3]
num_list2 = [11, 22, 33]

In [8]:
# indexing
print(num_list1[0])     # 첫번째 원소
print(num_list2[-1])    # 마지막 원소

1
33

In [10]:
# slicing
print(num_list1[:2])    # 첫 2개의 원소들을 잘라내기
print(num_list2[-2:])   # 마지막 2개의 원소들을 잘라내기

[1, 2]
[22, 33]

In [12]:
num_list1 + num_list2   # concatenate

[1, 2, 3, 11, 22, 33]

In [13]:
num_list1 * 3   # replicate

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [158]:
# num_list1과 num_list2에서 같은 인덱스의 원소들끼리 덧셈
first = []
for x in num_list1:
    first.append(x)

second = []
for y in num_list2:
    second.append(y)

result = []
for i in range(len(first)):
    result.append(first[i] + second[i])

result

[12, 24, 36]

In [28]:
# num_list1과 num_list2에서 같은 인덱스의 원소들끼리 덧셈
[x + y for x, y in zip(num_list1, num_list2)]

[12, 24, 36]

In [29]:
# num_list1의 모든 원소에 3을 곱하기
[3 * x for x in num_list1]

[3, 6, 9]

NumPy(Numerical Python)

* 다차원 배열(n-dimensional array)을 쉽고 빠르게 연산(`+, -, *, /, ...`)하기 위한 라이브러리.
* numpy 패키지의 대부분의 기능(연산자, 함수, 메서드)들은 반복문의 기능을 가지고 있음(iteratble?).
    * 같은 인덱스의 원소들끼리(element-wise) 연산하는 기능을 가지고 있음.
* `numpy.ndarray` 클래스 : numpy 패키지의 가장 기본이 되는 클래스.

In [35]:
num_arr1 = np.array([1, 2, 3])  # 아규먼트로 전달된 리스트를 ndarray로 변환해서 리턴.
print(type(num_arr1))
print(num_arr1)     # __str__() 메서드가 리턴하는 문자열

<class 'numpy.ndarray'>
[1 2 3]

In [36]:
num_arr1        # __repr__() 메서드가 리턴하는 문자열

array([1, 2, 3])

In [37]:
num_arr2 = np.array([11, 22, 33])
print(num_arr2)

[11 22 33]

In [38]:
# element-wise 연산
print(num_arr1 + num_arr2)
print(num_arr1 - num_arr2)
print(num_arr1 * num_arr2)
print(num_arr1 * 3)
print(num_arr1 / num_arr2)

[12 24 36]
[-10 -20 -30]
[11 44 99]
[3 6 9]
[0.09090909 0.09090909 0.09090909]

## `np.ndarray` 클래스의 속성들

In [43]:
print(num_arr1)
print('ndim =', num_arr1.ndim)  # 차원(dimension)
print('size =', num_arr1.size)  # 배열의 크기(모든 원소 개수)
print('shape =', num_arr1.shape)    # 배열의 모양(배열의 각 차원에서의 원소 갯수들로 이루어진 튜플)
print('dtype =', num_arr1.dtype)    # 데이터 타입

[1 2 3]
ndim = 1
size = 3
shape = (3,)
dtype = int64

* Python의 숫자 타입
    * 정수 : `int`
    * 실수 : `float`
* NumPy의 숫자 타입
    * 정수 : `int8, int16, int32, int64, ...`
    * 실수 : `float16, float32, float64, ...`

In [49]:
# 2차원 배열
array = np.array([[1, 2, 3],
                  [4, 5, 6]])
print(type(array))

<class 'numpy.ndarray'>

In [51]:
print(array)

[[1 2 3]
 [4 5 6]]

In [56]:
print('ndim =', array.ndim) # 차원(dimension)
print('size =', array.size) # 크기(shape 튜플의 모든 숫자들을 곱한 값)
print('shape =', array.shape)   # 모양
print('dtype = ', array.dtype)  # 데이터 타입

ndim = 2
size = 6
shape = (2, 3)
dtype =  int64

# `np.ndarray` 객체 생성 함수들

## `np.array(object)`

* object를 ndarray로 변환해서 리턴.
* object : 배열과 비슷한 객체들. `list, tuple, ndarry, ...`

In [59]:
# 0 이상 10 미만의 정수들로 이루어진 배열
numbers = np.array([x for x in range(10)])
print(numbers)

[0 1 2 3 4 5 6 7 8 9]

## `np.arange(starat, end, step)`

* range를 사용해서 array를 생성하는 함수.
* `range(start, end, step)`와 사용 방법이 동일함.
* 1차원 ndarray를 생성

In [61]:
numbers = np.arange(10)
print(numbers)

[0 1 2 3 4 5 6 7 8 9]

In [66]:
# 0 이상 10 이하의 짝수들을 원소로 갖는 배열(ndarray)
evens = np.arange(0, 11, 2)
print(evens)

[ 0  2  4  6  8 10]

## reshape

* `np.ndarray.reshape(newshape)` 메서드
* `np.reshape(array, newshape)` 함수

In [67]:
array = np.arange(12)
print(array)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [76]:
array2 = array.reshape((3, 4))      # 모양을 바꾸더라도 원본은 그대로 내버려둠, 객체에서 메서드 호출.
print(array2)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [80]:
array3 = np.reshape(array, (4, 3))      # 함수 호출
print(array3)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [83]:
# 메서드 연쇄 호출(chain-call)
array = np.arange(15).reshape((3, 5))
array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

## 난수 배열

* `np.random.rand(d0, d1, d2, ...)`
    * [0, 1) 범위의 균등분포(uniform distribution)를 따르는 난수들을 갖는 배열을 생성.
    * 아규먼트 d0, d1, ... : ndarray의 각 차원의 원소 개수.
* `np.random.randn(d0, d1, d2, ...)`
    * 평균이 0이고 표준편차가 1인 표준정규분포(standard normal distribution)를 따르는 난수들을 갖는 배열을 생성.
    * 아규먼트 d0, d1, ... : ndarray의 각 차원의 원소 개수.
* `np.random.randint(low, high, size, dtype)`
    * [low, high) 범위의 정수 난수들을 갖는 배열을 생성.
    * 아규먼트 size : ndarray의 shape(모양)을 정수 또는 튜플로 전달.
    * 아규먼트 dtype : int8, int16, int32, ...

In [152]:
array = np.random.rand(5,3)    # 범위가 무조건 0 ~ 1 사이의 실수
print(array)
array1 = np.random.rand(5)
print(array1)

[[0.40598464 0.23987603 0.7632833 ]
 [0.12553602 0.49487863 0.51935399]
 [0.15202747 0.12213735 0.28213591]
 [0.13567124 0.17782295 0.88602655]
 [0.32305077 0.04538097 0.39219506]]
[0.01536012 0.43576015 0.39787031 0.20490559 0.6258906 ]

In [147]:
array = np.random.randn(5, 3)   # 1이나 -1을 넘기는 값이 생성 될 수 있음
print(array)

[[ 0.72471474  2.83598261 -0.52407098]
 [ 0.78417744 -0.21714749 -2.00677964]
 [ 1.18278447 -0.30402281  1.20882159]
 [-1.36695371 -0.58161499  0.94301482]
 [-0.8762018   0.89317156  0.47349443]]

In [161]:
array = np.random.randint(0, 100, size=5)   # 기본적으로 dtype을 설정하지 않으면 int64로 설정됨.
print(array)
print(type(array[0]))

[32 97 96 21  5]
<class 'numpy.int64'>

In [90]:
array = np.random.randint(0, 10, size=(5,3))
print(array)

[[3 2 5]
 [3 6 8]
 [9 3 9]
 [4 1 4]
 [8 7 9]]

In [162]:
ar = np.random.randint(10)  #> size=None(기본값)일 때는 난수 1개를 리턴.
print(ar)
print(type(ar))

5
<class 'int'>

# 통계 함수/메서드

* 함수 : `np.function_name(ndarray)`
* 메서드 : `np.ndarray.method_name()`

In [167]:
array = np.random.randint(100, size=10)
print(array)

[59 80 99 81 85 91 45 32 81 97]

In [177]:
print('평균 :', np.mean(array), array.mean())   # 함수 호출. 메서드 호출.
print('분산 :', np.var(array), array.var())     # variance
print('표준편차 :', np.std(array), array.std()) # standard deviation
print('최댓값 :', np.max(array), array.max())   # max
print('최솟값 :', np.min(array), array.min())   # min
print('중앙값 :', np.median(array)) # 중앙값은 메서드가 제공되지 않음. array.median() 메서드를 제공하지 않음.
# len()이 짝수일 경우 중앙에서 양 옆의 값을 더해 평균을 구한것이 중앙값이 됨.

평균 : 75.0 75.0
분산 : 451.8 451.8
표준편차 : 21.25558750070202 21.25558750070202
최댓값 : 99 99
최솟값 : 32 32
중앙값 : 81.0

In [179]:
np.sort(array)  # 함수 호출 - 원본 배열은 변경하지 않고, 정렬된 "새로운" 배열을 리턴.

array([32, 45, 59, 80, 81, 81, 85, 91, 97, 99])

In [184]:
print(array.sort()) # 메서드 호출 - 원본 배열을 정렬하고 리턴은 없음. 원본 배열이 변경됨.
print(array)

None
[32 45 59 80 81 81 85 91 97 99]

In [192]:
array = np.random.randint(100, size=10)
print(array)
print(np.argmax(array), array.argmax()) # 배열에서 최댓값의 index를 리턴.
print(np.argmin(array), array.argmin()) # 배열에서 최솟값의 index를 리턴.

[82 30 98 41 23 62 53 18 97 88]
2 2
7 7

## 2차원 배열에서 통계 함수/메서드

In [198]:
np.random.seed(42)   # 실행할 때 마다 항상 같은 난수들을 만들어 내기 위해서.
array = np.random.randint(10, size=(5,4))
print(array)

[[6 3 7 4]
 [6 9 2 6]
 [7 4 3 7]
 [7 2 5 4]
 [1 7 5 1]]

In [199]:
np.sum(array)    # 2차원 배열의 모든 원소들의 합계

np.int64(96)

In [201]:
np.sum(array, axis=0)   # 행의 인덱스가 증가하는 방향으로 원소들의 합계

array([27, 25, 22, 22])

In [202]:
np.sum(array, axis = 1) # 컬럼의 인덱스가 증가하는 방향으로 원소들의 합계

array([20, 23, 21, 18, 14])