<a href="https://colab.research.google.com/github/Sjleerodls/Data_Analysis/blob/main/lab_da/da02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Series

* 한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스).
* 축(axis) 레이블을 가지고 있는 1차원 배열.
    * 정수 기반의 인덱스(range)와 축 레이블을 함께 가질 수 있음.

In [ ]:
s = pd.Series([1, 2, -3, -4, 5])

In [ ]:
print(type(s))

<class 'pandas.core.series.Series'>

In [ ]:
print(s)

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [ ]:
s

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [ ]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
s.values

array([ 1,  2, -3, -4,  5])

# indexing, slicing

* `iloc` : ndarray의 정수 인덱스 기반으로 원소를 참조. 리스트 또는 ndarray에서 사용하는 방법과 동일.
    * 음수 인덱스 사용이 가능
* `loc` : 축 레이블 기반으로 원소를 참조
    * 음수 인덱스 사용이 불가능

In [14]:
s.iloc[0]   # 시리즈의 첫번째 원소

np.int64(1)

In [16]:
s.iloc[-1]  # 시리즈의 마지막 원소, 음수 인덱스 사용이 가능함.

np.int64(5)

In [18]:
s.iloc[4]   # 시리즈의 마지막 원소

np.int64(5)

In [20]:
s.loc[0]

np.int64(1)

In [21]:
s.loc[4]

np.int64(5)

In [24]:
# s.loc[-1] #> 에러 발생

In [26]:
# iloc를 사용한 slicing
s.iloc[0:2]     # 배열의 index 기반 호출

0    1
1    2
dtype: int64

In [29]:
# loc를 사용한 slicing
s.loc[0:2]  # 뒤의 2까지 출력함. 시리즈의 레이블 기반으로 자름 (0~2까지의 포스트잇 안의 내용을 가져옴)

0    1
1    2
2   -3
dtype: int64

In [35]:
s.iloc[2:4]

2   -3
3   -4
dtype: int64

In [37]:
s.loc[2:3]

2   -3
3   -4
dtype: int64

In [39]:
s = pd.Series(data=[1, 2, -3, -4, 5],
              index=['a', 'b', 'x', 'y', 'c'])
s

a    1
b    2
x   -3
y   -4
c    5
dtype: int64

In [45]:
s.iloc[0]   # ndarray의 정수 인덱스 기반

np.int64(1)

In [46]:
s.iloc[-1]  # s.iloc[4]

np.int64(5)

In [49]:
s.loc['a']  # 레이블 기반의 인덱스

np.int64(1)

In [51]:
s.loc['c']

np.int64(5)

In [54]:
s.loc['a':'b']

a    1
b    2
dtype: int64

In [55]:
s.loc['y':'c']

y   -4
c    5
dtype: int64

## fancy indexing

In [56]:
s

a    1
b    2
x   -3
y   -4
c    5
dtype: int64

In [58]:
s.loc[['a', 'b', 'c']]

a    1
b    2
c    5
dtype: int64

In [59]:
s.iloc[[0, 1, 4]]

a    1
b    2
c    5
dtype: int64

## boolean indexing

boolean indexing은 loc 기반으로 동작. iloc는 사용할 수 없음.

In [63]:
s.loc[[True, False, True, False, True]]

a    1
x   -3
c    5
dtype: int64

In [65]:
s > 0

a     True
b     True
x    False
y    False
c     True
dtype: bool

In [68]:
s.loc[s > 0 ]   # 시리즈 s의 원소들 중 양수들로만 이루어진 부분집합

a    1
b    2
c    5
dtype: int64

In [69]:
s.loc[s < 0]    # 음수 원소들만 찾겠다.

x   -3
y   -4
dtype: int64

In [70]:
s.loc[:'x'] # s.loc['x':]

a    1
b    2
x   -3
dtype: int64

In [89]:
s.loc[::-1] # 역순으로 출력.

c    5
y   -4
x   -3
b    2
a    1
dtype: int64

In [92]:
s.loc['c':'x':-1]

c    5
y   -4
x   -3
dtype: int64

In [94]:
s.loc[:'x':-1]

c    5
y   -4
x   -3
dtype: int64

In [95]:
s.loc['x'::-1]

x   -3
b    2
a    1
dtype: int64

In [75]:
test_series = pd.Series(data=[1, 10, 100, 1000],
                        index=[1, 2, -1, -2])
test_series

 1       1
 2      10
-1     100
-2    1000
dtype: int64

In [76]:
print(test_series.loc[-1])

100

In [79]:
print(test_series.iloc[-1])

1000

In [85]:
test_series[-2] # 기본적으로 loc로 동작하고 있음.

np.int64(1000)

# DataFrame

* 테이블 형식의 2차원 데이터 타입
    * 행(row)과 열(column)을 가지고 있는 데이터 타입

In [97]:
data = {
    'city' : ['서울'] * 3 + ['경기'] * 3,
    'year' : [2022, 2023, 2024] * 2,
    'pop' : [0.89, 0.91, 0.92, 1.1, 1.2, 1.15]
}

data

{'city': ['서울', '서울', '서울', '경기', '경기', '경기'],
 'year': [2022, 2023, 2024, 2022, 2023, 2024],
 'pop': [0.89, 0.91, 0.92, 1.1, 1.2, 1.15]}

In [100]:
df = pd.DataFrame(data)

In [101]:
print(df)

  city  year   pop
0   서울  2022  0.89
1   서울  2023  0.91
2   서울  2024  0.92
3   경기  2022  1.10
4   경기  2023  1.20
5   경기  2024  1.15

In [102]:
df

  city  year   pop
0   서울  2022  0.89
1   서울  2023  0.91
2   서울  2024  0.92
3   경기  2022  1.10
4   경기  2023  1.20
5   경기  2024  1.15

## DataFrame의 속성들

In [106]:
print('shape:', df.shape)   # shape(모양) : (row 갯수, column 갯수)
print('index:', df.index)   # index : row index. 행 레이블.
print('columns:', df.columns)   # columns : column index. 열 레이블(이름).

shape: (6, 3)
index: RangeIndex(start=0, stop=6, step=1)
columns: Index(['city', 'year', 'pop'], dtype='object')

In [107]:
print(df.values)    # values : 데이터프레임의 값들로만 이루어진 2차원 np.ndarray

[['서울' 2022 0.89]
 ['서울' 2023 0.91]
 ['서울' 2024 0.92]
 ['경기' 2022 1.1]
 ['경기' 2023 1.2]
 ['경기' 2024 1.15]]

## DataFrame에서 column 선택

* `data_frame['column_name']`
* `data_frame.column_name`
    * 컬럼의 이름이 변수 이름 규칙(문법)에 맞지 않는 경우에는 사용할 수 없음.
        * 변수 이름은 영문자, 숫자, _(underscore, 밑줄)만 사용.
        * 변수 이름은 숫자로 시작할 수 없음.
        * Python 키워드(if, for, in, class, def, True, ...)들은 변수 이름으로 사용할 수 없음.
    * 컬럼 이름이 DataFrame 클래스의 프로퍼티(변수) 또는 메서드 이름과 같은 경우에는 사용할 수 없음.

In [111]:
df['city']  # 데이터프레임에서 'city' 컬럼 선택

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [113]:
df.city # 위와 같은 결과 출력.

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [114]:
df['pop']

0    0.89
1    0.91
2    0.92
3    1.10
4    1.20
5    1.15
Name: pop, dtype: float64

In [116]:
df.pop  #> DataFrame 클래스의 pop 메서드 객체

<bound method DataFrame.pop of   city  year   pop
0   서울  2022  0.89
1   서울  2023  0.91
2   서울  2024  0.92
3   경기  2022  1.10
4   경기  2023  1.20
5   경기  2024  1.15>

In [121]:
# 데이터프레임에서 2개 이상의 열(column)을 선택
df[['year', 'pop']]

   year   pop
0  2022  0.89
1  2023  0.91
2  2024  0.92
3  2022  1.10
4  2023  1.20
5  2024  1.15

In [120]:
df[['year', 'city', 'pop']]

   year city   pop
0  2022   서울  0.89
1  2023   서울  0.91
2  2024   서울  0.92
3  2022   경기  1.10
4  2023   경기  1.20
5  2024   경기  1.15