<a href="https://colab.research.google.com/github/Sjleerodls/Data_Analysis/blob/main/lab_da/da02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Series

* 한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스).
* 축(axis) 레이블을 가지고 있는 1차원 배열.
    * 정수 기반의 인덱스(range)와 축 레이블을 함께 가질 수 있음.

In [ ]:
s = pd.Series([1, 2, -3, -4, 5])

In [ ]:
print(type(s))

<class 'pandas.core.series.Series'>

In [ ]:
print(s)

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [ ]:
s

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [ ]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
s.values

array([ 1,  2, -3, -4,  5])

# indexing, slicing

* `iloc` : ndarray의 정수 인덱스 기반으로 원소를 참조. 리스트 또는 ndarray에서 사용하는 방법과 동일.
    * 음수 인덱스 사용이 가능
* `loc` : 축 레이블 기반으로 원소를 참조
    * 음수 인덱스 사용이 불가능

In [14]:
s.iloc[0]   # 시리즈의 첫번째 원소

np.int64(1)

In [16]:
s.iloc[-1]  # 시리즈의 마지막 원소, 음수 인덱스 사용이 가능함.

np.int64(5)

In [18]:
s.iloc[4]   # 시리즈의 마지막 원소

np.int64(5)

In [20]:
s.loc[0]

np.int64(1)

In [21]:
s.loc[4]

np.int64(5)

In [24]:
# s.loc[-1] #> 에러 발생

In [26]:
# iloc를 사용한 slicing
s.iloc[0:2]     # 배열의 index 기반 호출

0    1
1    2
dtype: int64

In [29]:
# loc를 사용한 slicing
s.loc[0:2]  # 뒤의 2까지 출력함. 시리즈의 레이블 기반으로 자름 (0~2까지의 포스트잇 안의 내용을 가져옴)

0    1
1    2
2   -3
dtype: int64

In [35]:
s.iloc[2:4]

2   -3
3   -4
dtype: int64

In [37]:
s.loc[2:3]

2   -3
3   -4
dtype: int64

In [39]:
s = pd.Series(data=[1, 2, -3, -4, 5],
              index=['a', 'b', 'x', 'y', 'c'])
s

a    1
b    2
x   -3
y   -4
c    5
dtype: int64

In [45]:
s.iloc[0]   # ndarray의 정수 인덱스 기반

np.int64(1)

In [46]:
s.iloc[-1]  # s.iloc[4]

np.int64(5)

In [49]:
s.loc['a']  # 레이블 기반의 인덱스

np.int64(1)

In [51]:
s.loc['c']

np.int64(5)

In [54]:
s.loc['a':'b']

a    1
b    2
dtype: int64

In [55]:
s.loc['y':'c']

y   -4
c    5
dtype: int64